<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <title>Eksamen 2023</title>
</head>

<body class="h-screen font-roboto text-black bg-slate-200">
  <div class="grid grid-rows-[auto_1fr_auto] h-screen">

    <div class="mt-40 mb-5">
      <div class="text-center text-6xl text-slate-800 font-bold m-2">

        Eksamen
      </div>

      <div class="text-gray-500 text-center">
        Du er loggen inn som
        <b>
          <%=userdata.email%>
        </b>

        <a href="./logout" class="text-blue-900 hover:text-blue-500">logout</a>
      </div>
    </div>

    <% if(userdata.email==="admin@admin.eksamen" ){ %>
      <div id="admin-root"></div>
      <% } else { %>
        <div id="user-root"></div>
        <% } %>


          <div class="mt-8 flex bg-slate-500 text-sky-50 text-center p-2">
            <div class="w-1/2 border-r-2 border-slate-400 py-20">
              Eksamen 2023 ©
            </div>
            <div class="w-1/2 py-20">
              Support: <a class="text-blue-100 hover:text-blue-300"
                href="mailto:emailasldfkj@asldkfj.sdo">emailasldfkj@asldkfj.sdo</a>
            </div>
          </div>
  </div>
  <div class="error-message success-message"></div>
</body>
<script src="javascripts/bundle.main.js"></script>

</html>
